.main-side{
    background-color: gray;
    flex: 25%;
}
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  /* @media (max-width: 1500px) {
    .main-side{
      flex: 60%
    }
  } */
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 700px) {
        .main-side{
          flex: 30%
        }
      }